body {
    font-family: 'Monoton', cursive !important;
    color: darkslategray !important;
    background-image: url("../imgs/ciel.jpeg");
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 45px !important;
}

<<<<<<< HEAD
#city {
=======
#chosenCity{
>>>>>>> eed813c20c323c544f130234ffffbda2b1ceaf29
    border-radius: 35px;
    background-color: mintcream;
    box-shadow: 5px 5px 8px 6px rgba(119, 119, 119, 0.75);
}

button {
    width: 100px;
    border-radius: 10px;
    background-color: mintcream;
    font-size: 18px !important;
    text-shadow: 1px 1px 1px black;
}

.city-label {
    font-size: 20px;
<<<<<<< HEAD
    text-shadow: 1px 1px 1px black;
=======
    text-shadow: 1px 1px 1px black;

>>>>>>> eed813c20c323c544f130234ffffbda2b1ceaf29
